fastapi
uvicorn[standard]
sqlalchemy>=2.0
asyncpg
psycopg2-binary # <--- ДОБАВЛЕНО (или убедитесь, что оно есть)
python-dotenv
pydantic-settings
jinja2
python-jose[cryptography]
passlib[bcrypt]
aiohttp
python-multipart