# Изменения: Убраны Celery и Redis, добавлен aiosqlite
fastapi
uvicorn[standard]
sqlalchemy>=2.0
aiosqlite
python-dotenv
pydantic-settings
jinja2
python-jose[cryptography]
passlib[bcrypt]
aiohttp
python-multipart
requests
apscheduler>=3.10.4